@charset "UTF-8";

html {
  box-sizing: border-box;
}

/*fonts from google fonts*/
.montserrat-favoritten {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

/*END fonts from google fonts*/

/*general*/
body {
  display: flex;
  flex-direction: column;
  font-family: montserrat;
  font-size: 100%;
  background-color: rgb(238, 238, 238);
  margin: 0;
}

main {
  line-height: 1.5em;
  color: #05155c;
  padding: 2em;
  margin: 2.5%;
}

h2 {
  font-family: montserrat;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .2em;
}

h3 {
  font-family: libre;
  letter-spacing: .2em;
  border-left: 2px solid;
  padding-left: 1em;
  padding-top: 1em;
  margin-top: 2em;
}
/*END general*/

/*HOME page*/
header {
  background: url(images/Sete.130.png) no-repeat center center;
  background-size: cover;
  height: 30em;
  text-align: center;
}

header p {
  font-size: 1em;
  margin-top: -12px;
}

header h1 {
  text-transform: uppercase;
  margin-top: 150px;
}
/*END HOME page*/

/*ABOUT page*/

intro {
  font-size: smaller;
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
}

header2 {
  color: #05155c;
  background: url(images/cb5_v2.jpg) no-repeat center center;
  background-size: 250%;
  height: 30em;
  text-align: center;
}

header2 p {
  font-size: 1em;
  margin-top: -12px;
}

header2 h1 {
  text-transform: uppercase;
  margin-top: 150px;
}
/*END ABOUT page*/


/*design of navbar and footer*/
a {
  text-decoration: dotted;
  padding-bottom: .2em;
}

nav,
footer {
  background-color: #fcfcfc;
}

/*this code is for the space between the elements in the navbar*/
nav ul li a {
  display: block;
  padding: .5em 1em;
  margin: .5em;
}

/*change of color when hovering, and border is added*/
nav ul li a:hover {
  color: #05155c;
  font-weight: bolder;
  border-bottom: 2px outset;
}

/*code here removes the list format, all elements on one line*/
nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

/*change text transform, size, space between letters*/
nav ul li {
  font-size: .8em;
  text-transform: uppercase;
  letter-spacing: .2em;
}

footer {
  color: #05155c;
  text-align: center;
  font-size: .8em;
  padding: 2em;
  margin-top: auto;
}

/*END design of navbar and footer*/


/*Flexbox*/
#menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

section {
  background: #fcfcfc;
  margin: 50px;
  padding: 20px;
  width: 300px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 100%;
}

cv {
  margin: 10px;
  width: 500px;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  justify-content: space-between;
}

.title {
  font-family: libre;
  letter-spacing: .2em;
  color: #05155c;
  border-left: 3px solid;
  padding-left: 1em;
  padding-top: 10px;
  margin-top: 2em;
}

.photo {
  order: -1;
}

/*END Flexbox*/